#logo {
    width: 100px;
}

#logo-2 {
    width: 50px;
    padding: 3px;
}

#logo-3 {
    width: 30px;
    margin-left: 10px;
    padding: 3px;
    padding-top: 5px;
}

#logo-4 {
    width: 40px;
    padding: 3px;
    margin-left: 5px;
}

body {
    margin: 5%;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.card {
    margin: 10px;
}